body{max-width:40em; margin: 0 auto;}
 span.verb, span.cmtt-10, span.cmtt-8{font-size:1rem}
.footnotes p + p{margin-top:0.3rem;line-height:1.5;margin-left:1rem;text-indent:-1rem;}
p.indent{text-indent:0pt;}
